<script setup>
import { ref } from "vue";
import { MyTasks, FinishedTasks, DeletedTasks } from "../composables/Tasks";


let text = ref(null);
let form = ref(null);
let showDialog = ref(false);
let toMarkAsDone = ref(null);
let toDelete = ref(null);
let selectedTodo = ref(null);

//adding todo to with auto increment by assigning id to Mytasks .
//form value.reset prevent the txt to repeatedly appear on the input field after adding the todo to the list
const addTodo = () => {
  let id = MyTasks.value.length;
  MyTasks.value.push({
    id: ++id,
    todo: text.value,
  });

  text.value = null;
  form.value.reset();

};


//selectTodo catches/stored the value/id of the todo that been selected
const selectTodo = (row) => {
  selectedTodo.value = row;
  text.value = row.todo;
};



/*assigning the value of the index equivalent to Mytasks and its id from the selected todo value/id and
update the selected todo*/
const updateTodo = () => {
      let index = MyTasks.value.findIndex((t) => t.id == selectedTodo.value.id);
      index !== -1 && (MyTasks.value[index].todo = text.value);
      todo.value = selectedTodo.value = null;
      form.value.reset();
    }

/*pop-up dialog/alert for conformation if you want to finish the todo task or not and
delete it or not*/
const toggleDialog = (row, status) => {
  showDialog.value = true;
  toMarkAsDone.value = toDelete.value = null;
  status !== "delete" ? (toMarkAsDone.value = row) : (toDelete.value = row);
};
// assigning the value of the index equivalent to Mytasks and the index value that been selected
//will be push to Finish page with Rendering the to-do list using v-for.
const markAsDone = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toMarkAsDone.value.id);
  index !== -1 && MyTasks.value.splice(index, 1);
  FinishedTasks.value.push(toMarkAsDone.value);
  toMarkAsDone.value = null;
  showDialog.value = false;
};
/*removing todo it will pop an alert signal if your sure you want to delete the todo  with the
  @click.stop="removeTodo(row)" and send the index value to the deleted page */
const removeTodo = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toDelete.value.id);
  index !== -1 && MyTasks.value.splice(index, 1);
  DeletedTasks.value.push(toDelete.value);
  toDelete.value = null;
  showDialog.value = false;

};
console.log(MyTasks.value)


</script>

<template>


<!-- addtodo-->
  <div class="flex justify-center">
    <div class="full-width q-pa-xl">
      <h6 class="q-my-none q-mb-md">My Tasks</h6>
      <q-form ref="form" @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
        <div class="row gap">
          <q-input
            v-model="text"
            dense
            outlined
            label="What's your todo?"
            class="q-pa-none col-10"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <div class="col-2 q-pl-sm">
            <q-btn
            :class="`bg-${!selectedTodo ? 'primary' : 'secondary'} fit`"
              color="white"
              glossy
              dense
              flat
              type="submit"
              :icon="!selectedTodo ? 'add' : 'edit'"

            />
          </div>
        </div>
      </q-form>

      <div class="q-mt-xl">
        <q-card @click="selectTodo(row)" class="q-mt-sm" v-for="row in MyTasks" :key="row.id">
          <q-card-section
      class="bg-primary text-white q-pa-none flex justify-between  items-center" >

            <div class="text-bold q-pl-lg">{{ row.todo }}</div>
            <div class="bg-white q-pa-sm">
              <q-btn @click.stop="toggleDialog(row, 'mark-done')"
             flat icon="check_circle_outline" color="green" />
              <q-btn @click.stop="toggleDialog(row, 'delete')" flat icon="delete_outline" color="red" />
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>




<!-- Dialog Finish/Delete-->

  <q-dialog v-model="showDialog" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <div v-if="toMarkAsDone" class="q-ml-sm">
              Are you sure you want to mark
              <span class="text-green">"{{ toMarkAsDone.todo }}"</span> as done?
               </div>
               <div v-else class="q-ml-sm">
               Are you sure you want to delete
              <span class="text-green">"{{ toDelete.todo }}"</span>?
  </div>


          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn
            @click="toMarkAsDone ? markAsDone() : removeTodo()"
              flat
              label="Yes"
              color="primary"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>

    </div>
</template>
