<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>
import {ref} from 'vue';

let MyTasks = ref([])
let FinishedTasks = ref([])
let DeletedTasks = ref([])

export { MyTasks, FinishedTasks, DeletedTasks }

